<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="png" href="favicon.png">
  <link rel="stylesheet" href="restauReviews.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reviews</title>
  <script src="restauReviews.js"></script>
</head>
</style>
<body>

    <nav>
        <div class="title">FlavorFinds</div>
        <!--TODO: profile dropdown-->
        <a href="/profile">Profile</a>
        <a href="/restau1">Reviews</a>
        <a href="/home">Home</a>
        <a href="/aboutus">About us</a>
        <div class="search-container">
            <form action="/result" method="GET">
                <input type="text" name="search" id="search" placeholder="Search">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </nav>
   
    
    <% var selectedCategoryId; %>    
    <div class="categoriesContainer">
        <div class="Categories">
            <% categories.forEach((category, index) => { %>
                <% if (!selectedCategoryId && category.name === 'DIN TAI FUNG' && req.originalUrl === '/restau1') { %>
                    <% selectedCategoryId = category._id; %>
                    <a href="/restau1"><%= category.name %></a>
                <% } else if (!selectedCategoryId && category.name === 'The Aristocrat' && req.originalUrl === '/restau2') { %>
                    <% selectedCategoryId = category._id; %>
                    <a href="/restau2"><%= category.name %></a>
                <% } else if (!selectedCategoryId && category.name === "Italliani's" && req.originalUrl === '/restau3') { %>
                    <% selectedCategoryId = category._id; %>
                    <a href="/restau3"><%= category.name %></a>
                <% } else if (!selectedCategoryId && category.name === 'Lugang Cafe' && req.originalUrl === '/restau4') { %>
                    <% selectedCategoryId = category._id; %>
                    <a href="/restau4"><%= category.name %></a>
                <% }else if (!selectedCategoryId && category.name === 'Bistro Ravioli' && req.originalUrl === '/restau5') { %>
                    <% selectedCategoryId = category._id; %>
                    <a href="/restau5"><%= category.name %></a>
                <% } else { %>
                    <a href="<%= `restau${index + 1}` %>"><%= category.name %></a>
                <% } %>
            <% }); %>
        </div>
    </div>
    


    
    <div class="outerContainer">
        <div class="restaurantInfo">
            <div class="restaurantPic">
                <img src="restauPics/aristocrat.png">
            </div>
            
            <div class="restaurantDescription">
                <h1>The Aristocrat</h1>
                <p>The Aristocrat Restaurant's menu doesn't stop at Lumpiang Shanghai. Other specialties include barbecued chicken served with its signature peanut sauce and java rice, and the TasteAtlas-recommended beef mechado, pancit canton, and crushed ice mixed with fruit and beans dessert, halo-halo. These dishes, each a testament to the rich culinary heritage of the Philippines, have made The Aristocrat Restaurant a must-visit destination for food lovers worldwide.</p>
            </div>
        </div>
  
     
        <div class="mainContainer">
            <div class="reviewsContainer">
                <div class="card-column">
                    <% reviews.forEach(review => { %>
                        <div class="card">
                            <div class="info">
                                <% if (review.avatar && review.avatar.trim() !== '/uploads') { %>
                                    <img src="<%= review.avatar.replace(/\\/g, '/') %>" alt="Review Avatar">
                                  <% } else { %>
                                    <img src="avatar.jpg" alt="Default">
                                  <% } %>
                                  <p>@<%= review.username %></p>
                            </div>
                            <div class="description">
                                <div class="rating">
                                    <p>Rating: <%= review.recommended ? 'recommended' : 'not recommended' %></p>
                                </div>
                                <div class="title">
                                    <p><%= review.title %></p>
                                </div>
                                <div class="body">
                                    <p><%= review.body %></p>
                                </div>
                                <div class="establishmentProfile">
                                    <% if (review && review.image && review.image.trim() !== '') { %>
                                        <img src="<%= review.image.replace(/\\/g, '/') %>">
                                    <% } %>
                                </div>
                            </div>
                            <div class="hepfulUnhelpfulContainer">
                                <div class="hepfulUnhelpful">
                                    <span class="helpfulUnhelpfulButton helpfulButton">Helpful</span>
                                    <span class="helpfulUnhelpfulCount"><%= review.helpful %></span>
                                </div>
                                <div class="hepfulUnhelpful">
                                    <span class="helpfulUnhelpfulButton unhelpfulButton">Unhelpful</span>
                                    <span class="helpfulUnhelpfulCount"><%= review.unhelpful %></span>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>


                 <!-- TRY KO TO-->
        <div class="submitReviewsContainer">
            <form action="/submitReview" method="post" enctype="multipart/form-data">
              <div id="review">Submit a Review</div>
              <% if (user && user.username) { %>
                <!-- If user is logged in and 'username' property exists -->
                <input type="hidden" name="username" value="<%= user.username %>">
              <% } %>
              <textarea name="title" id="titleTextArea" cols="30" rows="10" placeholder="Title..."></textarea>
              <textarea name="body" id="bodyTextArea" cols="30" rows="10" placeholder="Body..."></textarea>
              <div id="recommendation">
                <input type="radio" id="recommend" name="recommendation" value="recommend"> Recommend
                <input type="radio" id="notRecommend" name="recommendation" value="notRecommend"> Not Recommended
              </div>
              <div id="fileUpload">
                <label for="file">Upload Image/Video:</label>
                <input type="file" id="file" name="image" accept="image/*, video/*">
              </div>
              <input type="hidden" name="categoryID" value="<%= selectedCategoryId %>">
              <div id="send">
                <button class="button" type="submit">Post</button>
              </div>
            </form>
    </div>


        </div>
    </div>
        

 
</body>
</html>
